@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'noto';
  src: url('../../public/font/NotoSansJP-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'noto';
  src: url('../../public/font/NotoSansKR-VariableFont_wght.ttf')
    format('truetype');
  unicode-range: U+AC00-D7A3;
}

body {
  color: #333333;
}
textarea {
  resize: none;
  padding-left: 10px;
  padding-right: 10px;
}
input[type='text'] {
  padding-left: 10px;
  padding-right: 10px;
}

.likecard::-webkit-scrollbar {
  width: 4px;
}

.likecard::-webkit-scrollbar-track {
  background-color: #fff;
}

.likecard::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 4px;
}
