@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'noto';
  src: url('../../public/font/NotoSansJP-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'noto';
  src: url('../../public/font/NotoSansKR-VariableFont_wght.ttf')
    format('truetype');
  unicode-range: U+AC00-D7A3;
}

body {
  color: #333333;
}
body * {
  @apply transition-colors duration-200;
}

textarea {
  resize: none;
  padding-left: 10px;
  padding-right: 10px;
}
input[type='text'] {
  padding-left: 10px;
  padding-right: 10px;
}

.likecard::-webkit-scrollbar {
  width: 4px;
}

.likecard::-webkit-scrollbar-track {
  background-color: #fff;
}

.likecard::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 4px;
}

@layer base {
  :root {
    --lightgray: 246 248 249;
    --bluegray: 148 163 184;
    --darkgray: 229 232 234;
    --blue: 31 87 247;
    --lightblue: 121 154 250;
    --orange: 255 83 10;
    --lightorange: 255 150 105;
    --focusblue: 0 25 98;
    --white: 255 255 255;
    --black: 51 51 51;
    --background: 248 249 250;
    --basicgray: 243 244 246;
    --subtitle: 75 85 99;
  }

  :root[class~='dark'] {
    --lightgray: 55 60 71;
    --bluegray: 172 190 215;
    --darkgray: 229 232 234;
    --blue: 46 109 244;
    --lightblue: 121 154 250;
    --orange: 255 83 10;
    --lightorange: 255 150 105;
    --focusblue: 0 25 98;
    --white: 35 36 41;
    --black: 240 241 243;
    --background: 40 46 57;
    --basicgray: 54 58 74;
    --subtitle: 206 206 206;
  }
}
