@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap;
  font-family: 'noto';
  font-weight: 400;
  src:
    url('../../public/font/NotoSansKR-Regular-Subset.woff2') format('woff2'),
    url('../../public/font/NotoSansKR-Regular-Subset.woff') format('woff'),
    url('../../public/font/NotoSansKR-Regular-Subset.ttf') format('truetype');
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-display: swap;
  font-family: 'noto';
  font-weight: 500;
  src:
    url('../../public/font/NotoSansKR-Medium-Subset.woff2') format('woff2'),
    url('../../public/font/NotoSansKR-Medium-Subset.woff') format('woff'),
    url('../../public/font/NotoSansKR-Medium-Subset.ttf') format('truetype');
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-display: swap;
  font-family: 'noto';
  font-weight: 600;
  src:
    url('../../public/font/NotoSansKR-SemiBold-Subset.woff2') format('woff2'),
    url('../../public/font/NotoSansKR-SemiBold-Subset.woff') format('woff'),
    url('../../public/font/NotoSansKR-SemiBold-Subset.ttf') format('truetype');
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-display: swap;
  font-family: 'noto';
  font-weight: 700;
  src:
    url('../../public/font/NotoSansKR-Bold-Subset.woff2') format('woff2'),
    url('../../public/font/NotoSansKR-Bold-Subset.woff') format('woff'),
    url('../../public/font/NotoSansKR-Bold-Subset.ttf') format('truetype');
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-display: swap;
  font-family: 'noto';
  font-weight: 800;
  src:
    url('../../public/font/NotoSansKR-ExtraBold-Subset.woff2') format('woff2'),
    url('../../public/font/NotoSansKR-ExtraBold-Subset.woff') format('woff'),
    url('../../public/font/NotoSansKR-ExtraBold-Subset.ttf') format('truetype');
  unicode-range: U+AC00-D7A3;
}
@font-face {
  font-display: swap;
  font-family: 'noto';
  font-weight: 900;
  src:
    url('../../public/font/NotoSansKR-Black-Subset.woff2') format('woff2'),
    url('../../public/font/NotoSansKR-Black-Subset.woff') format('woff'),
    url('../../public/font/NotoSansKR-Black-Subset.ttf') format('truetype');
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-display: swap;
  font-family: 'noto';
  font-weight: 400;
  src:
    url('../../public/font/NotoSansJP-Regular-Subset.woff2') format('woff2'),
    url('../../public/font/NotoSansJP-Regular-Subset.woff') format('woff'),
    url('../../public/font/NotoSansJP-Regular-Subset.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'noto';
  font-weight: 500;
  src:
    url('../../public/font/NotoSansJP-Medium-Subset.woff2') format('woff2'),
    url('../../public/font/NotoSansJP-Medium-Subset.woff') format('woff'),
    url('../../public/font/NotoSansJP-Medium-Subset.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'noto';
  font-weight: 600;
  src:
    url('../../public/font/NotoSansJP-SemiBold-Subset.woff2') format('woff2'),
    url('../../public/font/NotoSansJP-SemiBold-Subset.woff') format('woff'),
    url('../../public/font/NotoSansJP-SemiBold-Subset.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'noto';
  font-weight: 700;
  src:
    url('../../public/font/NotoSansJP-Bold-Subset.woff2') format('woff2'),
    url('../../public/font/NotoSansJP-Bold-Subset.woff') format('woff'),
    url('../../public/font/NotoSansJP-Bold-Subset.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'noto';
  font-weight: 800;
  src:
    url('../../public/font/NotoSansJP-ExtraBold-Subset.woff2') format('woff2'),
    url('../../public/font/NotoSansJP-ExtraBold-Subset.woff') format('woff'),
    url('../../public/font/NotoSansJP-ExtraBold-Subset.ttf') format('truetype');
}
@font-face {
  font-display: swap;
  font-family: 'noto';
  font-weight: 900;
  src:
    url('../../public/font/NotoSansJP-Black-Subset.woff2') format('woff2'),
    url('../../public/font/NotoSansJP-Black-Subset.woff') format('woff'),
    url('../../public/font/NotoSansJP-Black-Subset.ttf') format('truetype');
}

body {
  color: #333333;
}

body * {
  @apply transition-colors duration-[30ms];
}

textarea {
  resize: none;
  padding-left: 10px;
  padding-right: 10px;
}
input[type='text'] {
  padding-left: 10px;
  padding-right: 10px;
}

.likecard::-webkit-scrollbar {
  width: 4px;
}

.likecard::-webkit-scrollbar-track {
  background-color: #fff;
}

.likecard::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 4px;
}

@layer base {
  :root {
    --disable: 246 248 249;
    --textdisable: 51 51 51;
    --lightgray: 246 248 249;
    --bluegray: 75 84 114;
    --darkgray: 229 232 234;
    --blue: 31 87 247;
    --lightblue: 121 154 250;
    --orange: 230 38 0;
    --lightorange: 255 150 105;
    --focusblue: 0 25 98;
    --white: 255 255 255;
    --black: 51 51 51;
    --background: 248 249 250;
    --basicgray: 243 244 246;
    --subtitle: 75 85 99;
    --skeleton: 229 232 234;
  }

  :root[class~='dark'] {
    --disable: 35 36 41;
    --textdisable: 87 91 108;
    --lightgray: 55 60 71;
    --bluegray: 172 190 215;
    --darkgray: 229 232 234;
    --blue: 46 109 244;
    --lightblue: 121 154 250;
    --orange: 230 38 0;
    --lightorange: 255 150 105;
    --focusblue: 0 25 98;
    --white: 35 36 41;
    --black: 240 241 243;
    --background: 40 46 57;
    --basicgray: 54 58 74;
    --subtitle: 206 206 206;
    --skeleton: 72 75 90;
  }
}

div,
p {
  font-weight: 400;
}
